html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

h1 {
    color: #0056b3;
    text-shadow: 2px 2px 5px #000000;
}
img {
    border-radius: 35px;
    box-shadow: 0 0 0 0.1rem #808080, 0 0 0 0.25rem #0056b3;
    margin: 4px;
}
    img:hover {
        border-radius: 35px;
        box-shadow: 2px 2px 5px 5px #007bff, 0 0 0 0.25rem #000000;
        margin: 4px;
    }